pipeline/pl_copy_sql_table_to_blob2.json
{
	"name": "pl_copy_sql_table_to_blob2",
	"properties": {
		"activities": [
			{
				"name": "Copy_data_sql_to_blob",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_asqldb_source_tbls",
						"type": "DatasetReference",
						"parameters": {
							"sourcetablename": {
								"value": "@pipeline().parameters.pptablename",
								"type": "Expression"
							},
							"sourceschemaname": {
								"value": "@pipeline().parameters.ppschemaname",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_abs_json_sink",
						"type": "DatasetReference",
						"parameters": {
							"sinkcontainer": {
								"value": "@pipeline().parameters.ppcontaintername",
								"type": "Expression"
							},
							"filename": {
								"value": "@pipeline().parameters.ppfilename",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "success Stored procedure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy_data_sql_to_blob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[pipeline_log_usp]",
					"storedProcedureParameters": {
						"CopyActivity_End_Time": {
							"value": {
								"value": "@activity('Copy_data_sql_to_blob').ExecutionEndTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"CopyActivity_Start_Time": {
							"value": {
								"value": "@activity('Copy_data_sql_to_blob').ExecutionStartTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"copyDuration_in_secs": {
							"value": {
								"value": "@activity('Copy_data_sql_to_blob').output.copyDuration",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"DataFactory_Name": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"Destination": {
							"value": {
								"value": "@pipeline().parameters.ppcontaintername",
								"type": "Expression"
							},
							"type": "String"
						},
						"effectiveIntegrationRuntime": {
							"value": {
								"value": "@activity('Copy_data_sql_to_blob').output.effectiveIntegrationRunTime",
								"type": "Expression"
							},
							"type": "String"
						},
						"ERROR_Message": {
							"value": {
								"value": "@activity('Copy_data_sql_to_blob').error",
								"type": "Expression"
							},
							"type": "String"
						},
						"Execution_Status": {
							"value": {
								"value": "@activity('Copy_data_sql_to_blob').status",
								"type": "Expression"
							},
							"type": "String"
						},
						"Execution_Status_Code": {
							"value": {
								"value": "@activity('Copy_data_sql_to_blob').statusCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"No_ParallelCopies": {
							"value": {
								"value": "@activity('Copy_data_sql_to_blob').output.usedParallelCopies",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Pipeline_Name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"rowsCopied": {
							"value": {
								"value": "@activity('Copy_data_sql_to_blob').output.rowscopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RowsRead": {
							"value": {
								"value": "@activity('Copy_data_sql_to_blob').output.rowsread",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink_Type": {
							"value": {
								"value": "@activity('Copy_data_sql_to_blob').output.executionDetails[0].sink.type",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source": {
							"value": {
								"value": "@concat(pipeline().parameters.ppschemaname,'.',pipeline().parameters.pptablename)",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source_Type": {
							"value": {
								"value": "@activity('Copy_data_sql_to_blob').output.executionDetails[0].source.type",
								"type": "Expression"
							},
							"type": "String"
						},
						"TirggerName": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"TirggerTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TriggerId": {
							"value": {
								"value": "@pipeline().TriggerId",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerType": {
							"value": {
								"value": "@pipeline().TriggerType",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_asqldb_source_tbls",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "failure Stored procedure_copy1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy_data_sql_to_blob",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[pipeline_log_usp]",
					"storedProcedureParameters": {
						"CopyActivity_End_Time": {
							"value": {
								"value": "@activity('Copy_data_sql_to_blob').ExecutionEndTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"CopyActivity_Start_Time": {
							"value": {
								"value": "@activity('Copy_data_sql_to_blob').ExecutionStartTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"copyDuration_in_secs": {
							"value": {
								"value": "@activity('Copy_data_sql_to_blob').output.copyDuration",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"DataFactory_Name": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"Destination": {
							"value": {
								"value": "@pipeline().parameters.ppcontaintername",
								"type": "Expression"
							},
							"type": "String"
						},
						"effectiveIntegrationRuntime": {
							"value": {
								"value": "@activity('Copy_data_sql_to_blob').output.effectiveIntegrationRunTime",
								"type": "Expression"
							},
							"type": "String"
						},
						"ERROR_Message": {
							"value": {
								"value": "@activity('Copy_data_sql_to_blob').error",
								"type": "Expression"
							},
							"type": "String"
						},
						"Execution_Status": {
							"value": {
								"value": "@activity('Copy_data_sql_to_blob').status",
								"type": "Expression"
							},
							"type": "String"
						},
						"Execution_Status_Code": {
							"value": {
								"value": "@activity('Copy_data_sql_to_blob').statusCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"No_ParallelCopies": {
							"value": {
								"value": "@activity('Copy_data_sql_to_blob').output.usedParallelCopies",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Pipeline_Name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"rowsCopied": {
							"value": null,
							"type": "Int32"
						},
						"RowsRead": {
							"value": null,
							"type": "Int32"
						},
						"RunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink_Type": {
							"value": {
								"value": "@activity('Copy_data_sql_to_blob').output.executionDetails[0].sink.type",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source": {
							"value": {
								"value": "@concat(pipeline().parameters.ppschemaname,'.',pipeline().parameters.pptablename)",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source_Type": {
							"value": {
								"value": "@activity('Copy_data_sql_to_blob').output.executionDetails[0].source.type",
								"type": "Expression"
							},
							"type": "String"
						},
						"TirggerName": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"TirggerTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TriggerId": {
							"value": {
								"value": "@pipeline().TriggerId",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerType": {
							"value": {
								"value": "@pipeline().TriggerType",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_asqldb_source_tbls",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"ppschemaname": {
				"type": "string",
				"defaultValue": "dbo"
			},
			"pptablename": {
				"type": "string",
				"defaultValue": "cust"
			},
			"ppcontaintername": {
				"type": "string",
				"defaultValue": "custdetails"
			},
			"ppfilename": {
				"type": "string",
				"defaultValue": "custdata.json"
			}
		},
		"folder": {
			"name": "old_pipelines"
		},
		"annotations": []
	}
}